.post-editor {
    min-height: 100%;
    
    font-size: 1.5rem;

    select {
        font-size: 1.5rem;
    }

    button {
        font-size: 2rem;
        padding: 1rem 3rem;
    }

    .editor {
        border: 2px solid grey;
        min-height: 30vh;
        line-height: .5;
    }

    editor-tool {
        border: 2px solid grey;
    }
}
