*,
*::after,
*::before {
    // performing basic reset operation
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    // indicate 1rem = 10px;
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    // setting the overall font-family
    font-family: 'Open Sans', sans-serif;
    line-height: 1.7;
    display: flex;
    flex-direction: column;
}