$color-grey-light-1: #EAF0F1;
$color-grey-dark: #A4B0BD;

$color-navbar-light:  #0ABDE3; 
$color-navbar-border: #99AAAB;

$color-feature-box-border: #74B9FF;

$color-light-green: #7CEC9F;
$color-dark-green: #26ae60;

$color-blue: #0A79DF;

$color-black: #2C3335;
$color-white: #fff;
