$color-grey-light-1: #EAF0F1;
$color-grey-dark: #A4B0BD;
$color-grey-dark-1: #99AAAB;

$color-navbar-light:  #67E6DC; 
$color-navbar-border: #99AAAB;

$color-feature-box-border: #74B9FF;

$color-light-green: #7CEC9F;
$color-dark-green: #26ae60;

$color-blue: #0A79DF;

$color-black: #2C3335;
$color-white: #fff;

$color-blue-light: #74B9FF;
$color-blue-dark: #3498DB;

$color-gradient-blue-light: #4BCFFA;
$color-gradient-blue-dark: #67E6DC