@import '../../sass/variables';

.features {
    padding: 20rem 2rem;
    
    margin: 25rem 0;
    // background-image: linear-gradient(to right bottom, $color-light-green, $color-dark-green);
    // background-image: linear-gradient(to right bottom, rgba($color-light-green,.9) 50%, rgba($color-dark-green,.9) ), url(../../assets/dna.jpg);
    background-image: linear-gradient(to right bottom, rgba($color-gradient-blue-light,.9) 50%, rgba($color-gradient-blue-dark,.9) ), url(../../assets/dna.jpg);
    background-size: cover;
    

    transform: skewY(-12deg);

    &__holder {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        transform: skewY(12deg);
    }
}


.section-about-us {
    .about-us {
        
        width: 80%;
        margin: 0 auto;
        background-size: cover;
        font-size: 2rem;
        
        // centering only the last line
        text-align: justify;
        text-align-last: center;

        color: $color-grey-dark-1;
        

        

        &__description {
            padding: 2rem 0;
        }
    }
}

.main-content {
    background-color: #fff;
}

.happy-to-help {
    margin-top: 20rem;
    .middle-main {
        display: flex;
        padding: 2rem 2rem 4rem 2rem;
        justify-content: center;
        align-items: center;
        background-color: #a2d9ff;

        &__left {
            @media only screen and (max-width: 600px) {
                display: none;
            }
        }

        &__right {
            padding: 2rem 1rem 3rem 1rem;
            text-align: center;
            background-color: #fff;
            border-radius: 1rem;
            box-shadow: 0 1.4rem 3rem rgba($color-black,.6);
            flex: 0 0 60%;
            @media only screen and (max-width: 600px) {
                flex: 0 0 100%;
            }

        }

        &__description {
            padding: 2rem;
            font-size: 1.3rem;
            text-align: justify;
            text-align-last: center;
        }
    }
}

// independent entities
.heading__secondary {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.5rem;
    position: relative;
    display: inline-block;
    color: $color-black;
    &::after {
        content: '';
        position: absolute;
        top: 140%;
        left: 50%;
        transform: translateX(-50%);
        width: 30%;
        height: 2px;
        background-color: $color-black;
    }
}