@import '../../sass/variables';

.feature-card {

    flex: 0 0 30rem;
    padding: 3rem;
    margin-top: .5rem;

    // all cards should have equal height
    align-self: stretch;

    cursor: pointer;

    background-color: rgba($color-white,.75);
    border-radius: 1rem;

    box-shadow: 0 1.3rem 3rem rgba($color-black,.4);

    transition: all .4s;
    // margin-right: 2.3rem;
    margin: auto;
    margin-bottom: 2rem;

    

    &:hover {
        transform: translateY(-1rem);
        box-shadow: 0 1.3rem 3rem rgba($color-black,.7);
    }

    &__image {
        height: 13rem;
        
        overflow: hidden;
        padding: 1rem;
        text-align: center;
        & > img {
            height: 100%;
        }
    }

    &__heading {
        text-align: center;
    }

    &__description {
        text-align: justify;
        font-size: 1.5rem;
        padding: 1.5rem 0;
    }


    @media only screen and (max-width: 600px) {
        flex: 0 0 100%;
    }
}

// independent entities
.heading__tertiary {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}